.MuiBox-root {
  padding: 19px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.MuiBox-root-* {
  padding: 15px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.MuiButton-root {
  height: 36.47px;
}

/* Button image centering and styling */

.ml_-2 {
  margin-left: -2px;
}

.ml_-5 {
  margin-left: -5px;
}

.ml_-9 {
  margin-left: -9px;
}

.ml_-12 {
  margin-left: -12px;
}

.mr_-2 {
  margin-right: -2px;
}

.mr_-3 {
  margin-right: -3px;
}

.mr_-4 {
  margin-right: -4px;
}

.mr_-5 {
  margin-right: -5px;
}

.mr_-6 {
  margin-right: -6px;
}

.mr_-8 {
  margin-right: -8px;
}

.mr_-12 {
  margin-right: -12px;
}

.mr_-14 {
  margin-right: -14px;
}

.mr_-15 {
  margin-right: -15px;
}

.mr_-16 {
  margin-right: -16px;
}

.mr_-17 {
  margin-right: -17px;
}

.mr_-20 {
  margin-right: -20px;
}

.mt_-2 {
  margin-top: -2px;
}

.mt_-3 {
  margin-top: -3px;
}

.mt_-4 {
  margin-top: -4px;
}

.mt_-5 {
  margin-top: -5px;
}

.mt_-6 {
  margin-top: -6px;
}

.mb_-1 {
  margin-bottom: -1px;
}

.mb_-2 {
  margin-bottom: -2px;
}

.mb_-3 {
  margin-bottom: -3px;
}

.exists {
  margin-right: -22px;
}

.surd {
  margin-right: -10px;
  filter: drop-shadow(0px 0px 0px white);
}

.bf {
  filter: drop-shadow(0px 0px 0px white);
}

.aqua {
  filter: drop-shadow(0 0 6px aqua);
}

.black {
  filter: drop-shadow(0 0 6px black);
}

.blue {
  filter: drop-shadow(0 0 6px blue);
}

.fuchsia {
  filter: drop-shadow(0 0 6px fuchsia);
}

.gray {
  filter: drop-shadow(0 0 6px gray);
}

.green {
  filter: drop-shadow(0 0 6px green);
}

.lime {
  filter: drop-shadow(0 0 6px lime);
}

.maroon {
  filter: drop-shadow(0 0 6px maroon);
}

.navy {
  filter: drop-shadow(0 0 6px navy);
}

.olive {
  filter: drop-shadow(0 0 6px olive);
}

.orange {
  filter: drop-shadow(0 0 6px orange);
}

.purple {
  filter: drop-shadow(0 0 6px purple);
}

.red {
  filter: drop-shadow(0 0 6px red);
}

.silver {
  filter: drop-shadow(0 0 6px silver);
}

.teal {
  filter: drop-shadow(0 0 6px teal);
}

.yellow {
  filter: drop-shadow(0 0 6px yellow);
}
